html, body {
    font-size: 16px;
    margin: 0;
    font-family: "Andada-Pro", serif;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: columns;
}

/* Top header */

header {
    align-items: center;
}
